*.csproj
*.sln
.DS_Store
.idea
cmake-*/
downloaded_file

/builds/*
/images/*
/Shot-*.png

/project/**/Library/*
/project/**/Logs/*
/project/**/Temp/*
/project/**/UserSettings/*
/project/**/obj/*

/src/models/*
/src/third_party/MNN/lib/*
/package/Plugins/*